@{

    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Área Restrita";

}

<p>Você não tem permissão para acessar esta página!<a asp-controller="Home" asp-action="Index">Clique aqui para retornar para a página inicial</a></p>
