@model ContatoModel

@{
    ViewData["Title"] = "Apagar contatos";
}

<div class="text-center">

    <h2>Realmente deseja apagar o contato: @Model.Nome?</h2>


    <a class="btn btn-danger btn-block" role="button" asp-controller="Contato" asp-action="ApagarContato" asp-route-id="@Model.Id">Apagar</a>
    <br />
    <a class="btn btn-success btn-block" role="button" asp-controller="Contato" asp-action="Index">Cancelar</a>

</div>
